
$primary-color: #1890ff;

$link-color: #888;

$background-color: #fafafa;

$primary-border-color: #bbbbbb;

$node-selected-color: #ff7f0e;
$port-selected-color: #ff7f0e;

$palette-header-background: #fafafa;
